---
Checks:
  - 'bugprone-*,cppcoreguidelines-*,misc-*,modernize-*,performance-*,readability-*'
  - '-cppcoreguidelines-pro-type-union-access'
  - '-misc-no-recursion'
  - '-cppcoreguidelines-pro-bounds-constant-array-index'
  - '-cppcoreguidelines-pro-bounds-pointer-arithmetic'
  - '-cppcoreguidelines-pro-type-member-init'
  - '-readability-math-missing-parentheses'
  - '-modernize-use-auto'
  - '-modernize-return-braced-init-list'
  - '-readability-braces-around-statements'
  - '-readability-isolate-declaration'
  - '-readability-uppercase-literal-suffix'
  - '-modernize-use-designated-initializers'
  - '-modernize-use-trailing-return-type'
  - '-cppcoreguidelines-avoid-magic-numbers'
  - '-readability-magic-numbers'
  - '-readability-identifier-length'
  - '-cppcoreguidelines-avoid-const-or-ref-data-members'
  - '-cppcoreguidelines-init-variables'
  - '-cppcoreguidelines-avoid-c-arrays'
  - '-bugprone-easily-swappable-parameters'
  - '-misc-non-private-member-variables-in-classes'
  - '-misc-use-anonymous-namespace'

HeaderFilterRegex: '(^|/)src/.*\.hpp$'
WarningsAsErrors: '*'
FormatStyle: 'file:ci/.clang-format'
CheckOptions:
  readability-function-cognitive-complexity.Threshold: '40'
